<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Daily Tasker - Account Balances</title>

    <!-- Custom fonts for this template -->
    <link href="static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="static/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'header.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                         <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">User</span>
                                <img class="img-profile rounded-circle" src="static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
    <div class="row">
        <!-- Cash on Hand -->
        <div class="col mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Cash on Hand
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rs {{ account_summary.cash_on_hand }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) -->
        <div class="col mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (Monthly)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rs {{ account_summary.earnings_monthly }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Expenses (Monthly) -->
        <div class="col mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Expenses (Monthly)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rs {{ account_summary.expenses_monthly }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Net Profit -->
        <div class="col mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Net Profit (Excluding Withdrawal)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rs {{ account_summary.net_profit }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Payables -->
<div class="col mb-4">
    <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div  class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        Total Payables
                    </div>
                    <div id="total-payables" class="h5 mb-0 font-weight-bold text-gray-800">Rs 0</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</div>


                  <div class="container-fluid">
    <div class="row">
        <!-- Earnings Overview -->
        <div class="col-xl-4 col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="monthlyNetProfitChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Revenue Sources -->
        <div class="col-xl-4 col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="incomePieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        {% for label, color in labeled_colors %}
                        <span class="mr-2">
                            <i class="fas fa-circle" style="color: {{ color }}"></i> {{ label }}
                        </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Expenses -->
        <div class="col-xl-4 col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Expenses</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="expensePieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        {% for label, color in labeled_expenses_colors %}
                        <span class="mr-2">
                            <i class="fas fa-circle" style="color: {{ color }}"></i> {{ label }}
                        </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Payables -->
        <div class="col-xl-6 col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Payables</h6>
                    <button class="btn btn-primary btn-sm" id="add-payable-btn">+</button>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Vendor</th>
                                <th>Amount</th>
                                <th>Pending Since</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="payables-list">
                            <!-- Dynamic rows will be added here -->
                        </tbody>
                    </table>

                    <!-- Add Payable Form -->
                    <div id="add-payable-form" style="display:none;">
                        <h6 class="m-0 font-weight-bold text-primary">Add New Payable</h6>
                        <form id="new-payable-form">
                            <div class="form-group">
                                <label for="vendor">Vendor</label>
                                <input type="text" id="vendor" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="amount">Amount</label>
                                <input type="number" id="amount" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="pending-since">Pending Since</label>
                                <input type="date" id="pending-since" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Payable</button>
                            <button type="button" id="cancel-add-btn" class="btn btn-secondary">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Accounts -->
        <div class="col-xl-6 col-lg-12 mb-4">
            <div class="container mt-5">
                <div class="row">
                    {% for account in accounts %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card shadow-sm border-8">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ account.person_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-primary">Balance</h6>
                                <p class="display-6 text-success">Rs {{ account.balance }}</p>
                                <a href="{{ url_for('accountData', account_name=account.person_name) }}" class="btn btn-primary btn-sm mt-3">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

                <!-- /.container-fluid --><br><br>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Add Income or Expense</h1>

    <!-- Card -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Income and Expense Forms</h6>
        </div>
        <div class="card-body">
            <!-- Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="income-tab" data-toggle="tab" href="#income" role="tab" aria-controls="income" aria-selected="true">Add Income</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="expense-tab" data-toggle="tab" href="#expense" role="tab" aria-controls="expense" aria-selected="false">Add Expense</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- Income Form -->
                <div class="tab-pane fade show active" id="income" role="tabpanel" aria-labelledby="income-tab">
                    <form class="mt-4" id="incomeForm" method="POST" action="/add_income">
                        <div class="form-group">
                            <label for="incomeAmount">Amount</label>
                            <input type="text" class="form-control" id="incomeAmount" name="amount" placeholder="Enter amount" oninput="validateAmount(this)" required>
                        </div>
                        <div class="form-group">
                            <label for="incomeType">Type</label>
                            <select class="form-control" id="incomeType" name="income_type" onchange="populateIncomeSubtypes()" required>
                                <!-- Options will be populated by JavaScript -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="incomeSubtype">Payment to</label>
                            <select class="form-control" id="incomeSubtype" name="income_subtype" required>
                                <!-- Options will be populated by JavaScript -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="incomeDescription">Description</label>
                            <textarea class="form-control" id="incomeDescription" name="description" rows="3" placeholder="Enter description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- Expense Form -->
                <div class="tab-pane fade" id="expense" role="tabpanel" aria-labelledby="expense-tab">
                    <form class="mt-4" id="expenseForm" method="POST" action="/add_expense">
                        <div class="form-group">
                            <label for="expenseAmount">Amount</label>
                            <input type="text" class="form-control" id="expenseAmount" name="amount" placeholder="Enter amount" oninput="validateAmount(this)" required>
                        </div>
                        <div class="form-group">
                            <label for="expenseType">Type</label>
                            <select class="form-control" id="expenseType" name="expense_type" onchange="populateExpenseSubtypes()" required>
                                <!-- Options will be populated by JavaScript -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="expenseSubtype">Payment to</label>
                            <select class="form-control" id="expenseSubtype" name="expense_subtype" required>
                                <!-- Options will be populated by JavaScript -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="expenseDescription">Description</label>
                            <textarea class="form-control" id="expenseDescription" name="description" rows="3" placeholder="Enter description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Daily Tasker @ 2024</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>

    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/assets/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="static/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/assets/js/demo/datatables-demo.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
        const ctx = document.getElementById('monthlyNetProfitChart').getContext('2d');
        const monthlyNetProfitChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ financial_data['months'] | tojson }},
                datasets: [{
                    label: 'Net Profit',
                    data: {{ financial_data['net_amounts'] | tojson }},
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const incomeCtx = document.getElementById('incomePieChart').getContext('2d');
    const incomePieChart = new Chart(incomeCtx, {
        type: 'pie',
        data: {
            labels: {{ income_data['income'] | safe }},
            datasets: [{
                data: {{ income_data['net_amounts'] | safe }},
                backgroundColor: {{ colors | safe }},
                hoverBackgroundColor: {{ colors | safe }},
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: false
            },
            cutoutPercentage: 0,
        },
    });
</script>


<script>
    const expenseCtx = document.getElementById('expensePieChart').getContext('2d');
    const expensePieChart = new Chart(expenseCtx, {
        type: 'pie',
        data: {
            labels: {{ expense_data['expense'] | safe }},
            datasets: [{
                data: {{ expense_data['net_amounts'] | safe }},
                backgroundColor: {{ colors | safe }},
                hoverBackgroundColor: {{ colors | safe }},
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: false
            },
            cutoutPercentage: 0,
        },
    });
</script>

<script>
        function validateAmount(input) {
            const value = input.value;
            if (!/^\d*\.?\d*$/.test(value)) {
                input.value = value.slice(0, -1);
            }
        }
</script>
<script>
    async function fetchExpenseData() {
    try {
        const response = await fetch('/expense_data');
        const data = await response.json();

        const typeSelect = document.getElementById('expenseType');
        const subtypeSelect = document.getElementById('expenseSubtype');

        // Clear and populate expense types
        typeSelect.innerHTML = '';
        for (const type of data.types) {
            const option = document.createElement('option');
            option.value = type.expense_id;
            option.textContent = type.expense_title;
            typeSelect.appendChild(option);
        }

        // Store subtypes globally
        window.expenseSubtypes = data.subtypes;

        // ✅ After populating types, trigger subtypes population
        populateExpenseSubtypes();

    } catch (error) {
        console.error('Error fetching expense data:', error);
    }
}

    function populateExpenseSubtypes() {
        const typeId = document.getElementById('expenseType').value;
        const subtypeSelect = document.getElementById('expenseSubtype');
        subtypeSelect.innerHTML = '';  // Clear previous subtypes

        if (typeId && window.expenseSubtypes[typeId]) {
            for (const subtype of window.expenseSubtypes[typeId]) {
                const option = document.createElement('option');
                option.value = subtype;
                option.textContent = subtype;
                subtypeSelect.appendChild(option);
            }
        }
    }

    document.addEventListener('DOMContentLoaded', fetchExpenseData);
</script>
<script>
    async function fetchIncomeData() {
    try {
        const response = await fetch('/income_data');
        const data = await response.json();

        const typeSelect = document.getElementById('incomeType');
        const subtypeSelect = document.getElementById('incomeSubtype');

        // Clear and populate income types
        typeSelect.innerHTML = '';
        for (const type of data.types) {
            const option = document.createElement('option');
            option.value = type.income_id;
            option.textContent = type.income_title;
            typeSelect.appendChild(option);
        }

        // Store subtypes globally
        window.incomeSubtypes = {};
        for (const subtype of data.subtypes) {
            if (!window.incomeSubtypes[subtype.income_id]) {
                window.incomeSubtypes[subtype.income_id] = [];
            }
            window.incomeSubtypes[subtype.income_id].push(subtype.subtype_title);
        }

        // ✅ After populating types, trigger subtypes population
        populateIncomeSubtypes();

    } catch (error) {
        console.error('Error fetching income data:', error);
    }
}


    function populateIncomeSubtypes() {
        const typeId = document.getElementById('incomeType').value;
        const subtypeSelect = document.getElementById('incomeSubtype');
        subtypeSelect.innerHTML = '';  // Clear previous subtypes

        if (typeId && window.incomeSubtypes[typeId]) {
            for (const subtype of window.incomeSubtypes[typeId]) {
                const option = document.createElement('option');
                option.value = subtype;
                option.textContent = subtype;
                subtypeSelect.appendChild(option);
            }
        }
    }

    document.addEventListener('DOMContentLoaded', fetchIncomeData);
</script>

                <script>
    $(document).ready(function() {
        $('#incomeForm').on('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            // Get selected income type ID and title
            var incomeTypeSelect = $('#incomeType');
            var incomeTypeTitle = incomeTypeSelect.find('option:selected').text();

            // Get selected income subtype title
            var incomeSubtypeSelect = $('#incomeSubtype');
            var incomeSubtypeTitle = incomeSubtypeSelect.find('option:selected').text();

            // Get form data
            var formData = {
                amount: $('#incomeAmount').val(),
                income_type: incomeTypeTitle, // Use the title
                income_subtype: incomeSubtypeTitle, // Use the title
                description: $('#incomeDescription').val()
            };

            // Send data to Python function using AJAX
            $.ajax({
                url: '/add_income',  // URL of your Python function
                type: 'POST',
                data: formData,
                success: function(response) {
                    // Handle success response
                    alert(response.message);

                    // Clear the amount and description fields
                    $('#incomeAmount').val('');
                    $('#incomeDescription').val('');
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.log('Error: ' + error);
                    alert('An error occurred while adding income.');
                }
            });
        });
    });
</script>


 <script>
    $(document).ready(function() {
        $('#expenseForm').on('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            // Get selected expense type ID and title
            var expenseTypeSelect = $('#expenseType');
            var expenseTypeTitle = expenseTypeSelect.find('option:selected').text();

            // Get selected expense subtype title
            var expenseSubtypeSelect = $('#expenseSubtype');
            var expenseSubtypeTitle = expenseSubtypeSelect.find('option:selected').text();

            // Get form data
            var formData = {
                amount: $('#expenseAmount').val(),
                expense_type: expenseTypeTitle, // Use the title
                expense_subtype: expenseSubtypeTitle, // Use the title
                description: $('#expenseDescription').val()
            };

            // Send data to Python function using AJAX
            $.ajax({
                url: '/add_expense',  // URL of your Python function
                type: 'POST',
                data: formData,
                success: function(response) {
                    // Handle success response
                    alert(response.message);

                    // Clear the amount and description fields
                    $('#expenseAmount').val('');
                    $('#expenseDescription').val('');
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.log('Error: ' + error);
                    alert('An error occurred while adding expense.');
                }
            });
        });
    });
function fetchPayables() {
    fetch('/get_payables')
        .then(response => response.json())
        .then(data => {
            console.log('Response data:', data); // Log response data

            let payablesList = document.getElementById('payables-list');
            let totalPayablesElement =  document.getElementById('total-payables');

            // Check if totalPayablesElement is found
            if (totalPayablesElement) {
                totalPayablesElement.textContent = data.total_payables;
            } else {
                console.error('Total payables element not found.');
            }

            payablesList.innerHTML = ''; // Clear previous entries
            data.payables.forEach(item => {
                let amountWithoutRs = item.amount.replace('Rs ', ''); // Remove "Rs " for input field
                let row = `
                    <tr>
                        <td>${item.vendor}</td>
                        <td>
                            <span class="amount-text">Rs ${amountWithoutRs}</span>
                            <input type="text" class="amount-input" value="${amountWithoutRs}" style="display:none;">
                            <button class="btn btn-sm btn-success save-button" style="display:none;">Save</button>
                            <button class="btn btn-sm btn-danger cancel-button" style="display:none;">Cancel</button>
                        </td>
                        <td>${item.pending_since} (${item.pending_days} Days)</td>
                        <td>
                            <button class="btn btn-sm btn-warning" onclick="editAmount(this, '${item.vendor}')">✏️</button>
                            <button class="btn btn-sm btn-success" onclick="markPaid('${item.vendor}')">✔️</button>
                        </td>
                    </tr>
                `;
                payablesList.innerHTML += row;
            });
        })
        .catch(error => console.error('Error fetching payables:', error));
}





function markPaid(vendor) {
    fetch(`/mark_paid?vendor=${vendor}`, {
        method: 'POST'
    })
    .then(response => {
        if(response.ok) {
            fetchPayables(); // Refresh the list after marking paid
        }
    });
}

document.getElementById('add-payable-btn').addEventListener('click', () => {
    // Open modal or form for adding new payables
});

fetchPayables(); // Call this when the page loads


     function editAmount(button, vendor) {
    let row = button.closest('tr');
    let amountText = row.querySelector('.amount-text');
    let amountInput = row.querySelector('.amount-input');
    let saveButton = row.querySelector('.save-button');
    let cancelButton = row.querySelector('.cancel-button');

    // Show input field and hide text
    amountText.style.display = 'none';
    amountInput.style.display = 'inline';
    amountInput.focus();

    // Show save and cancel buttons
    saveButton.style.display = 'inline';
    cancelButton.style.display = 'inline';

    // Handle Save Button Click
    saveButton.onclick = () => {
        let newAmount = amountInput.value;
        updateAmount(vendor, newAmount);
        amountText.innerText = `Rs ${newAmount}`; // Update the displayed amount with "Rs"
        amountText.style.display = 'inline';
        amountInput.style.display = 'none';
        saveButton.style.display = 'none';
        cancelButton.style.display = 'none';
    };

    // Handle Cancel Button Click
    cancelButton.onclick = () => {
        amountText.style.display = 'inline';
        amountInput.style.display = 'none';
        saveButton.style.display = 'none';
        cancelButton.style.display = 'none';
    };

    // Handle Enter Key Press in Input Field
    amountInput.addEventListener('keydown', (e) => {
        if (e.key === 'Enter') {
            saveButton.click(); // Trigger the Save button click event
        }
    });
}

function updateAmount(vendor, newAmount) {
    fetch('/update_amount', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ vendor: vendor, amount: newAmount })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            fetchPayables(); // Refresh the list after updating
        } else {
            alert('Error updating amount');
        }
    });
}

     document.getElementById('new-payable-form').addEventListener('submit', (event) => {
    event.preventDefault();

    let vendor = document.getElementById('vendor').value;
    let amount = document.getElementById('amount').value;
    let pendingSince = document.getElementById('pending-since').value;

    if (vendor && amount && pendingSince) {
        fetch('/add_payable', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ vendor: vendor, amount: amount, pending_since: pendingSince })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                fetchPayables(); // Refresh the list after adding
                document.getElementById('add-payable-form').reset(); // Clear the form fields
                document.getElementById('add-payable-form').style.display = 'none'; // Hide the form
                document.getElementById('add-payable-btn').style.display = 'block'; // Show the add button
            } else {
                alert('Error adding payable');
            }
        });
    }
});
document.getElementById('add-payable-btn').addEventListener('click', () => {
    document.getElementById('add-payable-form').style.display = 'block';
    document.getElementById('add-payable-btn').style.display = 'none'; // Hide the add button
});

document.getElementById('cancel-add-btn').addEventListener('click', () => {
    document.getElementById('add-payable-form').style.display = 'none';
    document.getElementById('add-payable-btn').style.display = 'block'; // Show the add button
});

</script>


</body>

</html>