<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Daily Tasker - Tracking</title>

    <!-- Custom fonts for this template -->
    <link href="static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="static/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
 <style>
        .status-buttons {
            display: none;
            margin-top: 10px;
        }
        .status-buttons .btn {
            margin-right: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'header.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
<!--                        <li class="nav-item dropdown no-arrow mx-1">-->
<!--                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"-->
<!--                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                <i class="fas fa-bell fa-fw"></i>-->
<!--                                &lt;!&ndash; Counter - Alerts &ndash;&gt;-->
<!--                                <span class="badge badge-danger badge-counter">3+</span>-->
<!--                            </a>-->
<!--                            &lt;!&ndash; Dropdown - Alerts &ndash;&gt;-->
<!--                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
<!--                                aria-labelledby="alertsDropdown">-->
<!--                                <h6 class="dropdown-header">-->
<!--                                    Alerts Center-->
<!--                                </h6>-->
<!--                                <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                    <div class="mr-3">-->
<!--                                        <div class="icon-circle bg-primary">-->
<!--                                            <i class="fas fa-file-alt text-white"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <div class="small text-gray-500">December 12, 2019</div>-->
<!--                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                    <div class="mr-3">-->
<!--                                        <div class="icon-circle bg-success">-->
<!--                                            <i class="fas fa-donate text-white"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <div class="small text-gray-500">December 7, 2019</div>-->
<!--                                        $290.29 has been deposited into your account!-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                    <div class="mr-3">-->
<!--                                        <div class="icon-circle bg-warning">-->
<!--                                            <i class="fas fa-exclamation-triangle text-white"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <div class="small text-gray-500">December 2, 2019</div>-->
<!--                                        Spending Alert: We've noticed unusually high spending for your account.-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        &lt;!&ndash; Nav Item - Messages &ndash;&gt;-->
<!--                        <li class="nav-item dropdown no-arrow mx-1">-->
<!--                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"-->
<!--                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                <i class="fas fa-envelope fa-fw"></i>-->
<!--                                &lt;!&ndash; Counter - Messages &ndash;&gt;-->
<!--                                <span class="badge badge-danger badge-counter">7</span>-->
<!--                            </a>-->
<!--                            &lt;!&ndash; Dropdown - Messages &ndash;&gt;-->
<!--                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
<!--                                aria-labelledby="messagesDropdown">-->
<!--                                <h6 class="dropdown-header">-->
<!--                                    Message Center-->
<!--                                </h6>-->
<!--                                <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                    <div class="dropdown-list-image mr-3">-->
<!--                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"-->
<!--                                            alt="...">-->
<!--                                        <div class="status-indicator bg-success"></div>-->
<!--                                    </div>-->
<!--                                    <div class="font-weight-bold">-->
<!--                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a-->
<!--                                            problem I've been having.</div>-->
<!--                                        <div class="small text-gray-500">Emily Fowler · 58m</div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                    <div class="dropdown-list-image mr-3">-->
<!--                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"-->
<!--                                            alt="...">-->
<!--                                        <div class="status-indicator"></div>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <div class="text-truncate">I have the photos that you ordered last month, how-->
<!--                                            would you like them sent to you?</div>-->
<!--                                        <div class="small text-gray-500">Jae Chun · 1d</div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                    <div class="dropdown-list-image mr-3">-->
<!--                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"-->
<!--                                            alt="...">-->
<!--                                        <div class="status-indicator bg-warning"></div>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <div class="text-truncate">Last month's report looks great, I am very happy with-->
<!--                                            the progress so far, keep up the good work!</div>-->
<!--                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                    <div class="dropdown-list-image mr-3">-->
<!--                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"-->
<!--                                            alt="...">-->
<!--                                        <div class="status-indicator bg-success"></div>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone-->
<!--                                            told me that people say this to all dogs, even if they aren't good...</div>-->
<!--                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>-->
<!--                            </div>-->
<!--                        </li>-->

                         <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Ali Malik</span>
                                <img class="img-profile rounded-circle" src="static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Order Tracking</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Shopify - Pending </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">

                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

    <thead>
        <tr>
            <th>Order ID</th>
            <th style="width: 15%;">Customer</th>
            <th>City</th>
            <th>Tags</th>
            <th>Payment</th>
            <th>Date</th>
            <th>Total Price</th>
            <th>Items</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Order ID</th>
            <th style="width: 15%;">Customer</th>
            <th>City</th>
            <th>Tags</th>
            <th>Payment</th>
            <th>Date</th>
            <th>Total Price</th>
            <th>Items</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>
        {% for order in order_details %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>
                    {{ order.customer_details.name }}<br>
                    {{ order.customer_details.address }}<br>
                    {{ order.customer_details.city }}<br>
                    {{ order.customer_details.phone }}<br>
                    <a href="tel:{{ order.customer_details.phone }}" class="btn btn-primary btn-sm">Call</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            WhatsApp
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://wa.me/{{ order.customer_details.phone }}?text=Hello%20{{ order.customer_details.name }},%20Your%20order%23{{ order.order_id }}%20from%20TickBags.com%20has%20been%20dispatched%20and%20is%20expected%20to%20be%20delivered%20in%203-7%20working%20days.%20Your%20patience%20is%20highly%20appreciated." target="_blank">Send Dispatch Message</a>
                            <a class="dropdown-item" href="https://wa.me/{{ order.customer_details.phone }}?text=Hello%20{{ order.customer_details.name }},%20Your%20order%23{{ order.order_id }}%20from%20TickBags.com%20has%20been%20delayed,%20please%20be%20assured%20that%20we%20are%20trying%20our%20best%20to%20deliver%20it%20at%20earliest.%20Your%20patience%20is%20highly%20appreciated." target="_blank">Send Delay Message</a>
                            <a class="dropdown-item" href="https://wa.me/{{ order.customer_details.phone }}?text=Hello%20{{ order.customer_details.name }},%20Logistics%20company%20made%20an%20attempt%20to%20deliver%20your%20order%23{{ order.order_id }}%20from%20TickBags.com%20but%20as%20per%20them,%20you%20weren't%20available%20at%20address%20or%20the%20address%20was%20closed.%20Please%20let%20us%20know%20when%20should%20we%20re-arrange%20the%20delivery.%20Thank%20You" target="_blank">Send Address Closed Message</a>
                            <a class="dropdown-item" href="https://wa.me/{{ order.customer_details.phone }}?text=Hello%20{{ order.customer_details.name }},%20Logistics%20company%20made%20an%20attempt%20to%20deliver%20your%20order%23{{ order.order_id }}%20from%20TickBags.com%20and%20according%20to%20them,%20you%20refused%20to%20accept%20the%20delivery.%20Please%20let%20us%20know%20if%20you're%20still%20interested%20in%20receiving%20the%20product." target="_blank">Send Refused Message</a>
                            <a class="dropdown-item" href="https://wa.me/{{ order.customer_details.phone }}?text=Hello%20{{ order.customer_details.name }},%20Your%20order%23{{ order.order_id }}%20from%20TickBags.com%20was%20delivered%20recently.%20Please%20let%20us%20know%20about%20your%20experience%20with%20us.%20Your%20feedback%20will%20surely%20help%20us%20improve.%20Thank%20You!" target="_blank">Send Feedback Message</a>
                        </div>
                    </div>
                </td>
                <td>{{ order.customer_details.city }}</td>

                <td>{% for tag in order.tags %}
                     <span class="badge badge-secondary">{{ tag }}</span><br>
                {% endfor %}</td>
                <td>{{ order.financial_status }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.total_price }}</td>
                <td>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th style="width: 30%;">Title</th>
                                <th>Pcs</th>
                                <th>Tracking Number</th>
                                <th style="width: 20%;">Status</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.line_items %}
                                <tr>
                                    <td><img src="{{ item.image_src }}" width="50" height="50"></td>
                                    <td>{{ item.product_title }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td><a href=track/{{item.tracking_number}} target=”_blank”> {{ item.tracking_number }} </a> </td>
                                    <td>{{ item.status }}</td>

                                    <td>
                                       <div class="btn-group">
    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Email
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" onclick="sendEmail('delay', '{{ item.tracking_number }}')">Send Email for Delay</a>
        <a class="dropdown-item" href="#" onclick="sendEmail('incomplete', '{{ item.tracking_number }}')">Send Email for Incomplete Address</a>
        <a class="dropdown-item" href="#" onclick="sendEmail('refusal', '{{ item.tracking_number }}')">Send Email for Fake Refusal</a>
    </div>
</div>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </td>
                 <td> {{ order.status}}</td>
                 <td>
                        <button class="btn btn-primary btn-sm" onclick="toggleStatusButtons(this)">Mark As</button>
                        <div class="status-buttons">
                             <button class="btn btn-outline-success btn-sm" onclick="applyTag('{{ order.id }}', 'Delivered')">Delivered</button>
                            <button class="btn btn-outline-danger btn-sm" onclick="applyTag('{{ order.id }}', 'Returned')">Returned</button>
                            <button class="btn btn-outline-warning btn-sm" onclick="applyTag('{{ order.id }}', 'Cancelled')">Cancelled</button>
                            <button class="btn btn-outline-info btn-sm" onclick="applyTag('{{ order.id }}', 'Confirmed')">Confirmed</button>
                            <button class="btn btn-outline-secondary btn-sm" onclick="applyTag('{{ order.id }}', 'Call Not Attended')">Call Not Attended</button>
                        </div>
                    </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/assets/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="static/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/assets/js/demo/datatables-demo.js"></script>
        <script src="static/assets/js/demo/datatables-demo.js"></script>
    <script src="static/assets/js/track.js"></script>

<script>
    $(document).ready(function() {
        // Check if the table is already a DataTable and destroy it if necessary
        if ($.fn.DataTable.isDataTable('#dataTable')) {
            $('#dataTable').DataTable().destroy();
        }

        // Initialize the DataTable with desired settings
        $('#dataTable').DataTable({
            "columnDefs": [
                { "searchable": false, "targets": [-1, 4] }  // Make the last column and the 5th column non-searchable
            ]
        });
    });
</script>
<script>
        $(document).ready(function() {
            var currentUrl = window.location.pathname;
            $('.nav-item a').each(function() {
                var linkUrl = $(this).attr('href');
                if (currentUrl === '/' + linkUrl) {
                    $(this).parent().addClass('active');
                }
            });
        });
    </script>

</body>

</html>